#content {
  display: inline-block;
  width: 800px;
  height: 700px;
  position: relative;
  background-color: white;
  border-bottom: none;
}

#iconArtBar {
  display: inline-block;
  height: 600px;
  border: 1px solid black;
  float: right;
  overflow-y: scroll;
  width: 300px;
}

.delete, .glyphicon, .glyphicon-trash {
  position: absolute;
  top: 0px;
  right: 0px;
}

/*.makeMeDraggable, #clickToAppend {
  width: 20px;
  height: 20px;
  background: red;
  border: 1px solid red
}*/

.btn:hover, .btn-rem:hover{
  cursor:pointer;
}

.welcomePage {
	text-align: center;
	margin-top: 350px;
}

.inputSection {
	display: inline-block;
	width: 200px;
}

input {
	margin-bottom: 10px;
}

button.submitLogin {
	margin-right: 5px;
}

#deleteArea {
  height: 100px;
  width: 800px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid red;
}

.makeMeDraggable {
  display: inline-block;
}

#printable {
  width: 266px;
  height: 233px;
}