<div class="plainBackground"><img src="../images/plainBackground.png" type="image"></div>

<div class="container">
	
	<div id="backgroundBar">
	  <div class="backgroundColors">
	  	<h4>Choose a background color!</h4>
	  	<ul class="colorClick">
			  <li><a ng-click="backgroundColor={background:'red'}">Red</a></li>
			  <li><a ng-click="backgroundColor={background:'#FAAA49'}">Orange</a></li>
			  <li><a ng-click="backgroundColor={background:'#3C7AB2'}">Blue</a></li>
			  <li><a ng-click="backgroundColor={background:'#FFEDA1'}">Yellow</a></li>
			  <li><a ng-click="backgroundColor={background:'#1C9360'}">Green</a></li>
			  <li><a ng-click="backgroundColor={background:'magenta'}">Magenta</a></li>
			  <li><a ng-click="backgroundColor={background:'#B0DDED'}">Light Blue</a></li>
			  <li><a ng-click="backgroundColor={background:'white'}">White</a></li>
		  </ul>
	  </div>
	  <div class="textAppendColor">
		  <h4>Add some text!</h4>
				<span>
					<input ng-model="greetingsText" class="cardText" type="text" placeholder="Say something nice!">
				</span>
			<h4>Style your text!</h4>
				<ul class="colorClick">
				  <li><a ng-click="textColor={color:'red'}">Red</a></li>
				  <li><a ng-click="textColor={color:'#FAAA49'}">Orange</a></li>
				  <li><a ng-click="textColor={color:'#3C7AB2'}">Blue</a></li>
				  <li><a ng-click="textColor={color:'#FFEDA1'}">Yellow</a></li>
				  <li><a ng-click="textColor={color:'#1C9360'}">Green</a></li>
				  <li><a ng-click="textColor={color:'magenta'}">Magenta</a></li>
				  <li><a ng-click="textColor={color:'#B0DDED'}">Light Blue</a></li>
				  <li><a ng-click="textColor={color:'white'}">White</a></li>
			  </ul>
		  <h4>Choose a font!</h4>
		  <input type="checkbox" ng-model="cursive">
		  <input type="checkbox" ng-model="boldText">
		  <input type="checkbox" ng-model="thinText">

		  <h4>Choose a size!</h4>
		  <input type="checkbox" ng-model="small">
		  <input type="checkbox" ng-model="medium">
		  <input type="checkbox" ng-model="large">
		</div>
		<button ng-click="appendText()">Add text</button>
	</div>

	<div id="content" ng-style="backgroundColor">
		<div ng-class="{font1: cursive, font2: boldText, font3: thinText, smallSize: small, mediumSize: medium, largeSize: large}" ng-style="textColor" class="previewText"> {{greetingsText}} </div>
	</div>

	<div id="iconArtBar">
		<div class="btn"><img src="../images/snowman.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/tree.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/present.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/santa.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/reindeer.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/ornamentsBanner.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/gingerbread.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/elf.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/snowflake1.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/snowflake2.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/snowflake3.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/snowflake4.png" type="image" id="clickToAppend"></div>
	</div>
		
</div>
			

<div class="viewCardLink">
	<button ng-click="saveToProfile()">Save Card</button>
</div>
