<div class="plainBackground"><img src="../images/plainBackground.png" type="image"></div>

<div class="newCardOptions">
	<h3>Choose A Theme</h3>
	<ul class="themes">
		<li class="valentines"><a href="#/valentines">Valentine's Day</a></li>
		<li class="christmas"><a href="#/christmas">Christmas</a></li>
<!-- 		<li class="birthday"><a href="#/yourCards">Birthday</a>-- <em>Coming soon!</em></li>
		<li class="newYear"><a href="#/yourCards">New Year</a> -- <em>Coming soon!</em></li> -->
	</ul>
</div>


