<div class="container">
	
	<div id="content">
	</div>

	<div id="iconArtBar">
		<span><input class="cardText" type="text" placeholder="Say something nice!"><button class="appendText">Add text</button></span>
		
		<div class="btn"><img src="../images/pinkHeart.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/arrow.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/teddyBear2.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/valentinesBanner.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/rose.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/kissLips.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/sexyLips.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/ring.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/cupid.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/iLoveYou.png" type="image" id="clickToAppend"></div>
	</div>
	</div>
	</div>
			
</div>

<div class="viewCardLink">
	<button ng-click="saveToProfile()">Save Card</button>
</div>
