<div class="plainBackground"><img src="../images/plainBackground.png" type="image"></div>

<div class="container">
	
	<div id="backgroundBar">
	  <a ng-click="backgroundColor={background:'red'}">Red</a>
	  <a ng-click="backgroundColor={background:'#FAAA49'}">Orange</a>
	  <a ng-click="backgroundColor={background:'#3C7AB2'}">Blue</a>
	  <a ng-click="backgroundColor={background:'#FFEDA1'}">Yellow</a>
	  <a ng-click="backgroundColor={background:'#1C9360'}">Green</a>
	  <a ng-click="backgroundColor={background:'magenta'}">Magenta</a>
	  <a ng-click="backgroundColor={background:'#B0DDED'}">Light Blue</a>
	  <a ng-click="backgroundColor={background:'white'}">White</a> 
	</div>

	<div id="content" ng-style="backgroundColor">
	</div>

	<div id="iconArtBar">
		<span><input class="cardText" type="text" placeholder="Say something nice!"><button class="appendText">Add text</button></span>
		<div class="btn"><img src="../images/snowman.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/tree.png" type="image" id="clickToAppend"></div>
		<div class="btn"><img src="../images/present.png" type="image" id="clickToAppend"></div>
	</div>
		
</div>
			

<div class="viewCardLink">
	<button ng-click="saveToProfile()">Save Card</button>
</div>
